@font-face {
    font-family: 'myFirstFont';
    src: url('zachfont.ttf') format('truetype');
}

@font-face {
    font-family: 'myThirdFont';
    src: url('zachfont3.ttf') format('truetype');
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #ff2dca;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.logo {
    position: absolute;
    width: 11.95vw;
    height: auto;
    left: 1.45vw;
    top: -1.45vh;
}

.search-bar {
    position: absolute;
    width: 21.09vw;
    height: auto;
    left: 75.86vw;
    top: 5.76vh;
}

.text-background {
    position: absolute;
    width: 93.9vw;
    height: auto;
    left: 3.05vw;
    top: 47.5vh;
}

.mizi-text {
    position: absolute;
    width: 57.34vw;
    height: auto;
    left: 39.6vw;
    top: 9.15vh;
}

.image1 {
    position: absolute;
    width: 45.42vw;
    height: auto;
    left: 51.35vw;
    top: 47.74vh;
    z-index: 2;
}

.image2 {
    position: absolute;
    width: 28.09vw;
    height: auto;
    left: 3.99vw;
    top: 67.16vh;
    z-index: 1;
}

.image3 {
    position: absolute;
    width: 29.25vw;
    height: auto;
    left: 22.34vw;
    top: 47.24vh;
    z-index: 3;
}

.mizi {
    position: absolute;
    width: 24.44vw;
    height: auto;
    left: 0;
    top: 19.44vh;
    z-index: 4;
}

#home {
    position: absolute;
    font-family: 'myFirstFont';
    color: white;
    width: 91.3px;
    height: 20px;
    font-size: 24px;
    left: 22vw;
    top: 3vh;
    text-decoration-line: underline;
}

#sua, #till, #ivan {
    position: absolute;
    font-family: 'myFirstFont';
    color: white;
    width: 91.3px;
    height: 20px;
    font-size: 24px;
    top: 3vh;
}

#sua {
    left: 37vw;
}

#till {
    left: 52vw;
}

#ivan {
    left: 67vw;
}

#txt {
    position: absolute;
    font-family: 'myThirdFont';
    color: white;
    width: 63%;
    height: 20px;
    font-size: 17px;
    left: 33vw;
    top: 31.5vh;
}
